                body{
margin: 0;
padding: 0;
}
                #container{
                     width: 100%;
                    
                }
#myVideo{
 width: 100%    ;
  height: auto   ;
  padding-top: -5px;
  position: absolute;
   
}
                
                #leftBar{
                  
                    height: 100%;
                    
                   margin:0 -5% 0 0;
                    z-index: 3;
                    position: absolute;
                   
                }
                #rightBar{
                    
                    height: 100%;
                  
                    margin:0 0 0 95%;
                    z-index: 3;
                    position: absolute;
                   float: right;
                    
                }
                span{
                    
                    padding: 33%;
                   
                    

                }

              